<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <pages clientIDMode="Static"></pages>
    <compilation strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="SAGE" connectionString="Dsn=Sage 100 2014" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <location path="jumbotron">
    </location>
</configuration>
<!--ProjectGuid: 1A47A001-3760-4CE5-9CD1-5BC0F3D66EFE-->