
/** {
margin: 0;
}*/

/*html, body{
height:100%;
}*/

#wrapper{
height:auto !important;
height: 100%;
text-align:center;
margin: 0 auto;

}

#content{
min-height:calc(98vh - 230px);
max-height:100vh;
height:auto;
}


p{

font-family: FontAwesome, 'Arial Narrow', Arial, sans-serif;

}

.workcenterContainer{
position: relative;
top: 50%;
transform: translateY(-50%);
}
.workcenter{
column-count: 1;
width: 70%;
border: solid rgb(212,236,250) 1px;
margin-top: 0px;
margin-bottom: 5px;
background-image:linear-gradient(
     white, whitesmoke
    );
border-radius: 0px 10px 50px 50px;
color: whitesmoke;
line-height: 30px;
font-size:2.4em;
}

/*This is a back ground with overlay example: background-image: url("../Images/happyNewYear.gif"), url("../Images/blackLogo.png");*/
header{
height:100px;
padding:2px;
background-image: url("../Images/blackLogo.png");
background-repeat:round none;
background-size: auto;
border: thin solid;
border-left:none;
border-right:none;
margin-top:3px;
opacity:1;
z-index: -1;


}

section{
height:0px;
margin-bottom:0px;
margin-top:-10px;
}

#nav{
width:100%;
}

/* ORIGINAL COLOR: rgb(1,85,109) */
footer {
background-color: rgb(1,85,109);
/*border-top-left-radius:2500px 280px;
border-top-right-radius:2500px 280px;*/
opacity: 1;
position:sticky absolute;

}

form{
text-align:center;
}


img{

border-radius:15px 0;

}

#topper{
width: auto 100%;
background-color:Black;

}

.title{
width: 100%;
text-align:center;
vertical-align: middle;
font-family:FontAwesome, 'Times New Roman', Times, serif;
font-size: 2em;
color:whitesmoke;
border-bottom: 6px double rgb(1,85,109);
background-color: black;
min-height: 30px;
line-height: 30px;

}

.deptSection{

float:left;
width:33%;

}

#Summary{
text-align:left;
margin-left:auto;
margin-right:auto;
padding-bottom:-100px;
width: 80%;
}

.stroke
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-size: 5em;
font-variant:small-caps;
vertical-align: middle;
text-align: center;
clear: both;
margin-bottom:1px;
padding-bottom:5px;
}

.deptTitle{
    font-size:2.7em;
background-color:yellow;
display:inline-block;
width: 400px;  
       
}
.metrics{
font-size:1em;
position: relative;
width: 33%;
margin-bottom:3px;
}

.deptTitle2{
    font-size:1.1em;
    color:white;
display:block;     
margin-bottom:8px;
margin-top: 3px;

}

div#banner { 
position: relative; 
bottom: 0; 
opacity:1;
background-color: dimgray;
color: aliceblue;
font:bolder 3em , FontAwesome, "Helvetica Neue"; 
font-variant:small-caps;
width: 100%; 
margin-bottom:3px;

}

div#banner-content { 
width: 100%; 
margin: 0 auto; 
padding: 0px; 

}




@media print {

    footer {
        display: block;
        font: 12pt Georgia, "Times New Roman", Times, serif;
    }

    header {
        display: none;
    }

    #wrapper {
        font: 8pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.0;
        width: 100%;
        height: 100%;
        margin: 0% 0% 0% 0%;
        filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
    }

    .title {
        font-size: 3rem;
        border-bottom: 0px;
    }

   

    .deptSection {
        width: 50%;
    }

    .stroke {
        color: black;
        text-shadow: none;
    }

   
}

