@{
    ViewBag.Title = "About";
}
<h2>About</h2>
<h3>Add your documents to this solution and make them searchable</h3>

<div class="alert-info" style="padding:50px;font-size:2em;font-variant-caps:small-caps;">
    <p>
        In order to add your documents to this solution so that they are searchable too contact
        <a href="mailto:insideITSupport@upscoinc.com">Inside IT Support</a>
    </p>
</div>

<hr />


